<!DOCTYPE html>
<style>
.content {
  max-width: 1000px;
  margin: auto;
  text-align:center
}
.center{
    position:absolute;
    height: 50px;
    width: 50px;
    left:50%
    top:50%
</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
	<div class="content">
		<h1>Hello, my name is {{ name }}</h1>
		{% load staticfiles %}
		<img src="https://files.catbox.moe/vfcyg1.jpg" alt="My image"/>
		<article>NPM : {{ npm }}.</article>
		<article>I am {{ age }} years old.</article>
		<article>I am currently studying on The University of Indonesia.</article>
		<article>My hobby is currently reading visual novels and other japanese stuff.</article>
		<article>I love doing what I want whenever I wanted to, kinda goes with the flow and see what's going to happen instead of planning things beforehand.</article>
	</div>
</body>	
</html>
